/* For mobile devices: */
/* ------------------- */
/* */

div.hoverbubble {
    position: relative;
    text-decoration: none;
}
div.hoverbubble span {
    display: none;
    z-index: 99999;
}
div.hoverbubble:hover {
    cursor: pointer;
}
div.hoverbubble:hover span {
    display: block;
    position: absolute;
    padding: .5em;
    text-align: center;
    width: auto;
    height: auto;
    white-space: nowrap;
    top: -85px;
    background: rgba(0,0,0,.8);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 0.86em;
    font-family: Arial, Helvetica, sans-serif;
}
div.hoverbubble:hover span:after {
    position: absolute;
    display: block;
    content: "";
    border-color: rgba(0,0,0,.8) transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    bottom: -20px;
    left: 1em;
}
@media only screen and (min-height: 375px) {
    /* For iPhone 6 landscape mode: */
    #map-container {
        height: 280px;
        width: 100%;
        padding-top: 145px;
    }
}
@media only screen and (min-height: 768px) {
    /* For tablets: */
    #map-container {
        height: 650px;
        width: 100%;
        padding-top: 145px;
    }

    .map {
        height: 100%;
        overflow: auto;
        width: 100%;
    }
}
@media only screen and (min-width: 1024px) {
    /* iPad Pros:  */
    #map-container {
        height: 670px;
        width: 100%;
        padding-top: 145px;
    }

    .map {
        height: 100%;
        overflow: auto;
        width: 100%;
    }

    #marker-1, #marker-2, #marker-3, #marker-4, #marker-5, #marker-6, #marker-7, #marker-8, #marker-9, #marker-10 {
        width: 50px;
        height: 50px;
        background: url("https://i.gyazo.com/1a59698855234f3395075428f8797245.gif") no-repeat scroll 0% 0% transparent;
        position: relative;
        display: inline-block;
    }
}
@media only screen and (min-width: 1366px) {
    /* Desktop screens and iPad pro sideways: */
}
@media only screen and (min-width: 1500px) {
    /* Desktop screens 1500px - 1740px : */
}
@media only screen and (min-width: 1740px) {
    /* Desktop screens: */
}
