/* For mobile devices: */
/* ------------------- */
/* */
div.navbar-contain {
    background-color: #3D486C;
    position: fixed;
    width: 100%;
    padding: 20px 0 20px 20px;
}
div#navbar.short {
    padding: 5px 0 5px 20px;
}
div.navbar {}
div.navbar div.nav-logo {
    display: inline-block;
    margin-right: 20px;
}
div#navbar.short div.nav-logo {
    margin-right: 100px;
}
img#nav-logo {
    display: none;
}
div.navbar div.nav-logo img {
    height: 100px;
    width: 260px;
    vertical-align: middle;
}
div#navbar.short div.nav-logo img {
    height: 60px;
    width: 60px;
    vertical-align: middle;
}
div.navbar div.nav-buttons {
    display: inline-block;
}
div.navbar div.nav-button {
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
}
div#navbar.short div.nav-button {
    margin-left: 25px;
    margin-right: 25px;
}
div.navbar div.nav-button:hover {}
div.nav-button a {
    text-decoration: none;
    color: #DFDFEF;
}
@media only screen and (min-width: 667px) {
    /* For iPhone 6+++ landscape mode: */
}
@media only screen and (min-width: 768px) {
    /* For tablets: */
}
@media only screen and (min-width: 1024px) {
    /* iPad Pros:  */
    div.navbar div.nav-button {
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media only screen and (min-width: 1366px) {
    /* Desktop screens and iPad pro sideways: */
    div.navbar div.nav-button {
        margin-left: 55px;
        margin-right: 55px;
    }
}
@media only screen and (min-width: 1500px) {
    /* Desktop screens 1500px - 1740px : */
    div.navbar div.nav-button {
        margin-left: 65px;
        margin-right: 65px;
    }
}
@media only screen and (min-width: 1740px) {
    /* Desktop screens: */
    div.navbar div.nav-button {
        margin-left: 85px;
        margin-right: 85px;
    }
}
